#root {
  margin: 10px;
  display: flex;
  justify-content: center;
  .app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .static-data {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  pre {
    background-color: #80808021;
  }
}
